*.pyc
__pycache__/
build/
dist/
MANIFEST

*.egg-info/

# pytest-cov db
.coverage

# tests will be made to write to temp directories with this prefix
#tests/exiftool-tmp-*
tests/tmp/

# IntelliJ
.idea
