# find sample file here -- https://exiftool.org/config.html

# this file was created from a Phil Harvey example here: https://exiftool.org/forum/index.php?topic=5563.msg26986#msg26986

%Image::ExifTool::UserDefined = (
	'Image::ExifTool::Exif::Main' => {
		0x927c => {
			Name => 'MyMakerNotes',
			Writable => 'undef',
			Binary => 1,
		},
	},
);
1; # end
